{% load static %}
<header>
  <img src="{% static 'img/main-logo.png' %}" alt="Little Lemon Logo"/>
  <!-- <img src="{% static 'img/main-logo.png' %}" alt="Little Lemon Logo" style="height: 20%; width: 40%" /> -->
</header>

<nav>
  <ul>
    <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
    <li><a href="{% url 'menu' %}" class="{% if request.resolver_match.url_name == 'menu' %}active{% endif %}">Menu</a></li>
    <li><a href="{% url 'book' %}" class="{% if request.resolver_match.url_name == 'book' %}active{% endif %}">Book</a></li>
    <li><a href="{% url 'reservations' %}" class="{% if request.resolver_match.url_name == 'reservations' %}active{% endif %}">Reservations</a></li>
  </ul>
</nav>

