{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="menu-page">
    <article>
        <h1>Our Menu</h1>
        <span>
            <a href="{% url 'home' %}">Home</a> /
            Menu
        </span>
        <div class="row">
            {% for menu_item in menu_items %}
            <div class="column">
                <img src="/restaurant/static/img/menu_items/{{menu_item.name}}.jpg" alt="{{ menu_item.name }}" />
                <div class="content">
                    <div class="content-top">
                        <h2>{{ menu_item.name }}</h2>
                        <p>Price: ${{ menu_item.price }}</p>
                    </div>
                    <p>{{ menu_item.menu_item_description }}</p>
                    <!-- Make the entire content-bottom section clickable -->
                    <a href="{% url 'custom_404' %}">
                        <div class="content-bottom">
                            <h5>Order delivery</h5>
                            <img src="{% static 'img/delivery-icon.svg' %}" alt="delivery" style="height: 25px; width: 25px">
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock %}
